@use './design' as *;
@use './shared' as *;

$base-class: $namespace + '-layout';
.#{$base-class} {
  width: 100%;
  height: 100%;
  &__container-wrapper {
    background: #f2f3f5;
  }
  &__content,
  &-content,
  &__footer {
    background-color: transparent;
  }
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    &--fluid {
      width: 100%;
    }
    &--fixed {
      width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
    &__logo {
      max-width: 100%;
      height: auto;
      overflow: hidden;
    }
    &__title {
      font-size: 18px;
    }
    &__left {
      max-width: 200px;
      flex-shrink: 0;
      display: flex;
    }
    &__center {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 20px;
      overflow: hidden;
    }
    &__right {
      display: flex;
      justify-content: flex-end;
      flex-shrink: 0;
    }
  }
  &-content {
    padding: 20px;
    &--fluid {
      width: 100%;
    }
    &--fixed {
      width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f3f5;
    height: 48px;
  }

  &-sidebar {
  }
}
